.view {
    padding: 5px;
    margin: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    border-color: rgb(255, 199, 44);
    border-style: solid;
    background-color: white; 
    color: rgb(255, 199, 44);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.view:hover {
    padding: 5px;
    margin: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 199, 44);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}